a {
  text-decoration: none;
  color: inherit;
}

.country-card {
  display: grid;
  grid-gap: 1rem;
  justify-items: center;
  background: #FFF;
  border-radius: 5px;
  width: 20rem;
  height: 20rem;
  padding: 1rem;
  color: #111133;
}

.country-card:hover {
  background: #FFFFFFDD;
}

.country-card__heading {
  margin: 0;
}

.country-card__img {
  width: 80%;
  min-height: 5rem;
  max-height: 8rem;
  border: 1px solid #EEE;
}

.country-card__info {
  justify-self: flex-start;
}

.country-card__info ul {
  padding: 0;
  list-style: none;
}
